#first{
    margin-top: 150px;
}

#last{
    margin-bottom: 100px;
}

#bottomnav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid;
}

#bottomnav ul{
    width: 100%;
}

#bottomnav ul li{
    display: inline;
    list-style-type: none;
}

#bottomnav ul li a{
    padding: 20px 8% 20px 8%;
}

#headernav{
    margin: 0px;
    margin-top: 0px;
    font-size: 0.7em;
    border-bottom: 2px solid #44474D;
}


header{
    position: fixed;
    width: 100%;
    background-color: #FFFAF0;
    z-index: 1;
    margin-top: -150px;
    
}



#headernav ul{
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    align-content: center;
    text-align: center;
}

#headernav ul li{
    display: inline;
    list-style-type: none;
    margin: -3;
}

#headernav ul li a{
    text-decoration: none;
    padding: 15px;
    color: #EE7966;
}


#mostviewed{
    border-bottom: 2px solid #44474D;
    
}

#recent{
    border-bottom: 2px solid #44474D;
}

#currenttab{
    border-radius: 10px 10px 0 0;
    border: 2px solid #44474D;
    border-bottom: none;
    color: #44474D;
}

.card-top{
    height: 100px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px 10px 0 0;
    border: 2px solid #44474D;
    margin-top: 30px;
    position: relative;
}

.red{
    background-color: #EE7966;
}

.green{
    background-color: #82BD8B;
}

.blue{
    background-color: #8BCBC4;
}

.card-bottom{
    background-color: transparent;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0 0 10px 10px;
    border: 2px solid #44474D;
    border-top: 0;
}

.advertisement{
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid #44474D;
    color: #EE7966;
    text-align: center;
}

.advertisement p{
    margin-top: 38px;
}

.icon{
    
    margin-top: 10px;
    height: 25px;
}

.apply{
    text-decoration: none;
    color: #44474D;
    font-size: 0.7em;
    display: inline block;
    text-align: center;
}

.foto{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid white;
    margin: 25px;
}

.titel{
    position: absolute;
    top: 25px;
    left: 90px;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.iconcontainer{
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    margin-left: 10%;
    margin-right: 10%;
}

.iconcontainer:after{
    content: '';
    width: 80%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.plaats{
    position: absolute;
    top: 50px;
    left: 90px;
    color: white;
    font-size: 0.8em;
    text-indent: 20px;
    background-image: url(../pics/location.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.headercontainer{
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    margin-left: 5%;
    margin-right: 5%;
}

.headercontainer img{
    height: 30px;
    padding: 20px;
}

.headercontainer:after{
    content: '';
    width: 80%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

#logo {
    height: 50px;
}

.pijltje{
    height: 25px;
    position: absolute;
    right: 20px;
    top: 40px;
}