article.profile{

    float: left;
    width: 100%;
    height: 100%;
    overflow-y:scroll; 
    background-color: #FFFAF0;

     -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

article.profile.close{
    left: 100%;
}

article.profile header{
    

    float: left;
    width: 90%;
    padding: 5%;
    text-align: center;
    color: #FFFAF0;
    border-bottom: 2px solid #44474D;


}

article.profile header h1{
    
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin: 20px auto;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;

}

article.profile header h1 span.back{
    
    position: absolute;
    height: 35px;
    width: 35px;
    top: 50%;
    left: 0;
    margin-top: -17.5px;
    cursor: pointer;

    background-image: url(../pics/back-arrow.svg);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;

    
}

article.profile header h2{
    
    float: left;
    width: 90%;
    padding: 5%;
    text-align: center;
    font-size: .8em;

}

article.detail header img{
    margin: 15px 0;
    height: 75px;
    border: 3px solid #FFFAF0;
    border-radius: 50%;
}

article.profile .jobinfo{
    
    float: left;
    width: 80%;
    padding: 10%;
    font-size: 1em;
    

}
article.profile .jobinfo p{
    margin: 0 auto;
    display: block;
    padding: 0px 0px 0px 30px;
    text-align: right;
    background-image: url(../pics/location.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center left;
}

article.profile aside .info{
    
    float: left;
    width: 80%;
    padding: 10%;
    

}
article.profile .info h1{

    font-family: Bariol_Bold;
    font-size: 1.2em;
}
article.profile .info p{
    
    margin-top: 20px;
    font-size: .8em;
}

article.profile aside nav{
    
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    

}
article.profile aside nav ul li{
    display: inline-block;
    width: 25%;
    height: 35px;
    text-align: center;
}
article.profile aside nav ul li img{
    height: 100%;
}

article.profile .jobinfo p:last-child{
    
    float: right;
}