div {
    width: 80%;
    margin: 15px auto;
}

h1 {
    text-align: center;
    padding: 40px;
    color: #3e464c;
}

#camera {
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
    padding: 20px;
    font-size: 1em;
    color: #3e464c;
}

.fb {
    border: 4px solid;
    border-color: #3e464c;
    background-color: #5980c1;
    border-radius: 10px;
    position: relative;
}

.fb p {
    text-align: center;
    font-size: 1em;
    position: absolute;
    top: 3px;
    left: 20%;
    color: #fff9eb;
}

#fb {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.google {
    border: 4px solid;
    border-color: #3e464c;
    background-color: #f37c69;
    border-radius: 10px;
    position: relative;
}

.google p {
    text-align: center;
    font-size: 1em;
    position: absolute;
    top: 3px;
    left: 20%;
    color: #fff9eb;
}

#google {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}

form p {
    padding: 0;
    margin: 0 auto;
}

.input {
    border: 4px solid;
    border-color: #3e464c;
    border-radius: 10px;
    padding-left: 10px;
    width: 80%;
    height: 50px;
    margin: 20px auto;
    font-family: Bariol;
    font-size: 1em;
    color: #f37c69;
    background-color: #fff9eb;
}

#uitleg {
    height: 300px;
    margin-bottom: 100px;
}