div {
    width: 80%;
    margin: 15px auto;
}

h1 {
    text-align: center;
    padding: 40px;
    color: #3e464c;
}

#camera {
    display: block;
    margin: 0 auto;
}

#file {
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 100% !important;
    background-color: black;
    position: absolute;
    top: 115px;
    left: 33%;
    opacity: 0 !important;
}

p {
    text-align: center;
    padding: 20px;
    font-size: 1em;
    color: #3e464c;
}

.fb {
    border: 2px solid;
    border-color: #3e464c;
    background-color: #5980c1;
    border-radius: 10px;
    position: relative;
}

.fb p {
    text-align: center;
    font-size: 1em;
    position: absolute;
    top: 3px;
    left: 20%;
    color: #fff9eb;
}

#fb {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.google {
    border: 2px solid;
    border-color: #3e464c;
    background-color: #f37c69;
    border-radius: 10px;
    position: relative;
}

.google p {
    text-align: center;
    font-size: 1em;
    position: absolute;
    top: 3px;
    left: 20%;
    color: #fff9eb;
}

#google {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}

form p {
    padding: 0;
    margin: 0 auto;
}

.input {
    border: 2px solid;
    border-color: #3e464c;
    border-radius: 10px;
    padding-left: 10px;
    width: 80%;
    height: 50px;
    margin: 20px auto;
    font-family: Bariol;
    font-size: 1em;
    color: #f37c69;
    background-color: #fff9eb;
}

textarea {
    display: block;
    border: 2px solid;
    border-color: #3e464c;
    border-radius: 10px;
    padding-left: 10px;
    width: 80%;
    height: 300px;
    margin: 20px auto;
    padding-top: 10px;
    font-family: Bariol;
    font-size: 1em;
    color: #f37c69;
    background-color: #fff9eb;
    resize: none;
}

.submit {
    border: 2px solid;
    border-color: #3e464c;
    border-radius: 10px;
    padding-left: 10px;
    width: 80%;
    height: 50px;
    margin: 20px auto;
    font-family: Bariol;
    font-size: 1em;
    background-color: #f37c69;
    color: #fff9eb;
    margin-bottom: 100px;
}